:root {
  --primary: rgb(255,255,255);
  --secondary: rgb(238,231,249);
  --color-3: rgba(255,255,255,0.7);
  --color-4: rgba(233,213,255,0.7);
  --color-5: rgb(243,244,246);
  --color-6: rgba(255,255,255,0.15);
  --color-7: rgb(255,240,246);
  --color-8: rgb(77,0,178);
  --color-9: rgba(209,213,219,0.6);
  --color-10: rgba(255,255,255,0.05);
  --color-11: rgb(233,213,255);
  --color-12: rgb(209,213,219);
  --color-13: rgba(77,0,178,0.8);
  --color-14: rgba(255,255,255,0.784);
  --color-15: rgba(255,255,255,0.5);
  --accent: rgb(94,31,183);
  --text-primary: rgb(3,7,18);
  --radius: 16px;
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  --font-primary: "ui-sans-serif", system-ui, sans-serif;
  --font-size-1: 16px;
  --font-size-2: 12px;
  --font-size-3: 10px;
  --font-size-4: 14px;
  --font-size-5: 20px;
  --font-size-6: 9px;
  --h1-size: 60px;
  --h2-size: 40px;
}